.sideBarRow {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
}

.sideBarRow:hover {
    background-color: lightgray;
    border-radius: 10px;
}

.sideBarRow>.MuiSvgIcon-root {
    font-size: xx-large;
    color: #2eB1f4;
}

.sideBarRow>h4 {
    margin-left: 10px;
    font-weight: 600px;
}